.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px; /* Ajusta el tamaño del texto */
  color: #ffffff; /* Ajusta el color del texto si es necesario */
  font-weight: 600;
}

.loading-dots span {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.loading-dots span:nth-child(2) {
  animation-delay: -0.32s;
}

.loading-dots span:nth-child(3) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
